* {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff1e8;
}

body {
    font-family: "Open Sans", sans-serif;
    position: relative;
}

main {
    padding: 0;
    margin: 0;
    width: 100%;
}



.sticky-whatsapp {
    position: fixed;
    bottom: 0;
    right: 5px;
    z-index: 1000;
    transition: transform 0.5s ease;
}

.sticky-whatsapp:hover {
    transform: scale(1.5);

}

.sticky-whatsapp img {
    width: 25px;
}


main section {
    padding: 0px 20px;
}

main p {
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
}

@media (min-width: 1025px) {
    main p {
        font-size: 18px;
    }
}

h3 {
    font-size: 20px;
}

@media (min-width: 1025px) {
    h3 {
        font-size: 24px;
    }
}

main button {
    color: white;
    background-color: rgb(247, 195, 51);
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    transition: color 0.3s ease;
    cursor: pointer;
}

main button:hover {
    color: rgb(37, 68, 1);

}

@media (min-width: 1025px) {
    main button {
        font-size: 22px;
        margin: 32px;
        padding: 20px 25px;
    }
}

a {
    text-decoration: none; 
    color: inherit;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

a:hover {
    color: rgb(18, 34, 0);
}


body img {
    width: 50px;
}

h1, h2 {
    font-family: "Poppins", sans-serif;

}

h1 {
    font-size: 16px;
    padding-bottom: 50px;
    margin-bottom: 0;
}

@media (min-width: 1025px) {
    h1 {
        font-size: 48px;
        margin: 32px;
    }
}

h2 {
    font-size: 14px;
    font-weight: 300;
    margin-top: -50px;
    margin-bottom: 90px;
}

@media (min-width: 1025px) {
    h2 {
        font-size: 28px;
        margin-bottom: 32px;
    }
}

.h1A, .h2A {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.h1B, .h2B {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease;
}

header {
    background-color: #004f6d;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 500;


    
}

nav {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 50px;

}

.logo {
    display: flex;
    align-items: center;
    width: 100px;
    margin-right: 100px;

}

.logo img {
    width: 100px;
    border-radius: 15px;
}


.menu-hamburguer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

@media (min-width: 1000px) {
    .menu-hamburguer {
        display: none;

    }
}

.menu-normal {
    display: none;
}

@media (min-width: 1000px) {
    .menu-normal {
        display: flex;
        color: white;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        font-weight: 600;

    }
}

.hamb-lines {
  width: 30px;
  border: 1px solid white;
  margin-bottom: 5px;
  transform: translateY(0) rotate(0deg);
  transition: transform 0.5s ease;
}

.hamb-menu-panel {
	display: block;
	position: fixed;
	top: 50px;
	right: -400px;
	background-color: #016d97;
	color: white;
	width: 90%;
	font-size: 32px;

	transition: right 0.5s ease;
    z-index: 100;
}

@media (min-width: 445px) {
    .hamb-menu-panel {
        right: -800px;
        width: 50%;

    }
}




.hamb-menu-panel ul {
	padding: 0;
	margin: 0;
}

.li-wrapper {
	border-bottom: 1px solid white;
	padding: 20px;
}

.li-wrapper li {
	list-style-type: none;
}

.dobra1-titulo {
    height: 350px;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    background-image: url('images/dobra1-A.webp');
    background-color: hsla(0, 0%, 1%, 0.712);
    background-blend-mode: saturation;
    background-position: center;
    background-size: auto;
    transition: background-image 0.5s ease;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

@media (min-width: 1025px) {
    .dobra1-titulo {
        height: 700px;
        background-size: cover;
        background-position: 50% 25%;
    }
}

.arrow-left {
    position: absolute;
    top: 37%;
    left: 35%;
    font-size: 26px;
    padding: 5px;
    width: 45px;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    font-weight: 600;
    transition: transform 0.5s ease;
    cursor: pointer;
}

@media (min-width: 1025px) {
    .arrow-left {
        top: 49%;
        padding: 20px 5px;

    }
}

.arrow-right {
    position: absolute;
    top: 37%;
    right: 35%;
    font-size: 26px;
    padding: 5px;
    width: 45px;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    font-weight: 600;
    transition: transform 0.5s ease;
    cursor: pointer;

}

@media (min-width: 1025px) {
    .arrow-right {
        top: 49%;
        padding: 20px 5px;
    }
}

.dobra2-apresentacao {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dobra2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1025px) {
    .dobra2-wrapper {
        flex-direction: row;
    }
}

@media (min-width: 1025px) {
    .dobra2-wrapper > :nth-child(1) {
        flex: 0.5;
        text-align: center;
    }
}

@media (min-width: 1025px) {
    .dobra2-wrapper > :nth-child(2) {
        flex: 0.5;
        text-align: center;
    }
}

.dobra2-apresentacao img {
    width: 100%;
    max-width: 400px;
    border: 2px solid black;
    padding: 2px;
}

.dobra3-nossos-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.dobra3-nossos-servicos h3 {
    margin-bottom: 40px;
}

.dobra3-paineis-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dobra3-paineis {
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
    position: relative;

}

@media (min-width: 1025px) {
    .dobra3-paineis {
        padding: 50px;
        width: 600px;
        height: 300px;
    }
}

.dobra3-paineis p {
    text-align: center;
}

.dobra3-paineis img {
    width: 40px;
    position: absolute;
    background-color: white;
    top: -20px;
    
}

.dobra4-FAQ {
    display: flex;
    flex-direction: column;
}

.dobra4-FAQ h3 {
    text-align: center;
}

.FAQ-questions-wrapper {
    padding: 0px 20px;

}

.question-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.164);
    padding: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.togagble-question {
    width: 90%;
    cursor: pointer;
}


.answer-arrow {
    position: absolute;
    width: 10px;
    right: 5px;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.answer-arrow-up {
    position: absolute;
    width: 10px;
    right: 5px;
    transform: rotate(270deg);
    transition: transform 0.3s ease;
}

.answer {
    display: none;
}

.answer-show {
    display: block;
    margin-left: 30px;
}

.dobra5-CTA {
    background-image: url('images/dobra5.webp');
    background-color: #1a1c20d0;
    background-blend-mode: hue;
    padding: 20px 40px;
    color: white;
    text-align: center;
}

@media (min-width: 1025px) {
    .dobra5-CTA {
        background-size: 100%;
        background-position: 0% 25%;
    }
}

.dobra5-CTA p {
    font-weight: 600;
}

.dobra6-blog {
    text-align: center;
}

.postagens-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1025px) {
    .postagens-wrapper {
        flex-direction: row;
        justify-content: space-around;
    }
}

.blog-post-panel {
    background-color: #016c97;
    color: white;
    height: 200px;
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 10px;
    border-radius: 5px;

}

.blog-post-panel:hover {
    transform: scale(1.05);
}

@media (min-width: 1025px) {
    .blog-post-panel {
        width: 30%;
        height: 300px;
        box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);

    }
}

.blog-post-panel p {
    margin: 0;
    font-weight: 100;
}

.blog-post-panel h5 {
    margin: 0;
    font-size: 18px;
    text-align: left;
    border-bottom: 1px solid white;

}

.postagens-wrapper div:nth-child(1) {
    background-image: url('images/dobra6-A.jpg');
    background-size: cover;
    background-color: #1a1c206c;
    background-blend-mode: hue;
}

.postagens-wrapper div:nth-child(2) {
    background-image: url('images/dobra6-B.jpg');
    background-size: cover;
    background-color: #1a1c206c;
    background-blend-mode: hue;
}

.postagens-wrapper div:nth-child(3) {
    background-image: url('images/dobra6-C.jpg');
    background-size: cover;
    background-color: #1a1c206c;
    background-blend-mode: hue;
    margin-bottom: 20px;
}

@media (min-width: 1025px) {
    .postagens-wrapper div:nth-child(3) {
        margin-bottom: 10px;
    }
}



@media (min-width: 1025px) {
    .dobra2-apresentacao, .dobra3-nossos-servicos, .dobra4-FAQ,
    .dobra5-CTA, .dobra6-blog {
        margin: 50px 300px;    }
}






footer {
    background-color: #004f6d;
    padding: 10px;
    color: white;
}

footer p {
    font-size: 12px;
}

footer h5 {
    font-size: 12px;
    text-align: center;
}

.footer-dobra1 {
    text-align: center;
}

.footer-dobra1 img {
    width: 70px;
}

.footer-dobra-wrapper {
    display: flex;
}

.footer-dobra-wrapper section {
    width: 50%;

}

.contato-flexbox  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
}

.contato-flexbox img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
    margin-right: 5px;
}

.social-media-icons {
    display: flex;
    filter: invert(100%);
    justify-content: space-between;
    padding-top: 5px;
}

.footer-dobra4 p {
    text-align: center;
    font-size: 10px;
    margin-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.267);
    color: rgba(255, 255, 255, 0.425);
}






